<!DOCTYPE html>
<html>
<head>
  <title>Metova Sample Project</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <p> Find me in src/main/resources/spark/template/freemarker/index.ftl </p>
</body>
</html>
